<ul class="doc-side-nav doc-side-nav-nested">
	{% assign current = page.url | downcase | split: '/' %}
	<li><h6 class="arrow-d"><a href= "{{ site.baseurl }}/docs/userguides/">All gRPC docs</a></h6></li>
	<li><h6 class="doc-side-nav-title">Getting started</h6></li>
	<li class="doc-side-nav-list-item"><a href="{{site.baseurl }}{{ site.javapath }}/index.html" {% if current[3] == 'index.html' %}class='current'{% endif %}>Introduction</a></li>
	<li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/quickstart/java.html">Quick start</a></li>
	<li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/tutorials/basic/java.html">Tutorial: Route Guide service</a></li>
	<li><h6 class="doc-side-nav-title">The basics</h6></li>
	<li class="doc-side-nav-list-item"><a href="{{site.baseurl }}{{ site.javapath }}/config.html" {% if current[3] == 'config.html' %}class='current'{% endif %}>Configuring Maven/Gradle</a></li>
	<li class="submenu"><h6 class="arrow-r">Defining services</h6>
	<div class="submenu-content">
		<a class = "submenu-link {% if current[4] == 'unary.html' %}class='current'{% endif %}" href="{{site.baseurl }}{{ site.javapath }}/unary.html">Unary RPCs</a>
		<a class = "submenu-link {% if current[4] == 'client-streaming.html' %}class='current'{% endif %}" href="{{site.baseurl }}{{ site.javapath }}/client-streaming.html">Client-side streaming</a>
		<a class = "submenu-link {% if current[4] == 'server-streaming.html' %}class='current'{% endif %}" href="{{site.baseurl }}{{ site.javapath }}/server-streaming.html">Server-side streaming</a>
		<a class = "submenu-link {% if current[4] == 'bidi.html' %}class='current'{% endif %}" href="{{site.baseurl }}{{ site.javapath }}/bidi.html">Bidirectional streaming</a>
	</div>
	</li>
	
	
</ul>
