<ul class="doc-side-nav">
	{% assign current = page.url | downcase | split: '/' %}
	<li><h6 class="arrow-d"><a href= "{{ site.baseurl }}/docs/userguides/">All gRPC docs</a></h6></li>
	<li><h6 class="doc-side-nav-title">Getting started</h6></li>
	<li class="doc-side-nav-list-item"><a href="{{site.baseurl }}{{ site.javapath }}/index.html" {% if current[3] == 'index.html' %}class='current'{% endif %}>Introduction</a></li>
	<li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/quickstart/java.html">Quick start</a></li>
	<li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/tutorials/basic/java.html">Tutorial: Route Guide service</a></li>
	<li><h6 class="doc-side-nav-title">The basics</h6></li>
	<li class="doc-side-nav-list-item"><a href="{{site.baseurl }}{{ site.javapath }}/config.html" {% if current[3] == 'config.html' %}class='current'{% endif %}>Configuring Maven/Gradle</a></li>
	<li class="doc-side-nav-list-item">Defining services
	<ul>
		<li class="doc-side-nav-list-item"><a href="{{site.baseurl }}{{ site.javapath }}/unary.html" {% if current[3] == 'unary.html' %}class='current'{% endif %}>Unary RPCs</a></li>
		<li class="doc-side-nav-list-item"><a href="{{site.baseurl }}{{ site.javapath }}/client-streaming.html" {% if current[3] == 'client-streaming.html' %}class='current'{% endif %}>Client-side streaming</a></li>
		<li class="doc-side-nav-list-item"><a href="{{site.baseurl }}{{ site.javapath }}/server-streaming.html" {% if current[3] == 'server-streaming.html' %}class='current'{% endif %}>Server-side streaming</a></li>
		<li class="doc-side-nav-list-item"><a href="{{site.baseurl }}{{ site.javapath }}/bidi.html" {% if current[3] == 'bidi.html' %}class='current'{% endif %}>Bidirectional streaming</a></li>
	</ul>
	</li>
	
	
</ul>
